<div class="row head-container">
  <%= image_tag "striped_lot_header.png", class: "headbar-image-right" %>

<div class="head-data-container">
  <div class="col-sm-3 col-sm-offset-1">
    <div class="sweepSchProgressText center-text">
      <h2 class="black-font">Services</h2>
      <div class="sweepSchUnderline"></div>
      <div class="row black-font">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9">Sweeping</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9 black-font">Snow Plowing</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9 black-font">Sanding/Deicing</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9 black-font">Lot Striping</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9 black-font">Power Washing</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9 black-font">Asphalt Maintence and Repair</h4>
        </div>
      </div>

    </div>
  </div>


  <div class="col-sm-3 center-text">
    <%#= image_tag "dual_sweepers.jpg", class: "col-sm-12 home-image" %>
    <div class="sweepSchProgressText">
      <h2 class="black-font">Our Company</h2>
      <div class="sweepSchUnderline"></div>
        <h4 class="row black-font"><div class="glyph-star"><span class="glyphicon glyphicon-star col-sm-1"></span></div> We offer a full line of services to help with maintaining your parking lot.</h4>
        <h4 class="row black-font"><div class="glyph-star"><span class="glyphicon glyphicon-star col-sm-1"></span></div> We serve the whole Denver Metro Area. Including Boulder and Ft. Collins.  </h4>
        <h4 class="row black-font"><div class="glyph-star"><span class="glyphicon glyphicon-star col-sm-1"></span></div> We have been in buisness for 20+ years!</h4>
        <h4 class="row black-font"><div class="glyph-star"><span class="glyphicon glyphicon-star col-sm-1"></span></div> We can do everything. From public road sweeping, to private lot maintenance. </h4>
        <h4 class="row black-font"><div class="glyph-star"><span class="glyphicon glyphicon-star col-sm-1"></span></div> We are family owned and operated. </h4>
        <!-- Sweep-A-Lot Is a street sweeping, snowplowing, all around parking lot maintenance company. We serve the entire Denver Metro Area. 
        As well as Boulder and Ft Collins. Our website provides a way to schedule a truck online. Just sign up, and you are on your way.
        When it comes to roadway and parking lot maintenance, Sweep-A-Lot can provide the services you need.
        We also offer: lot sanding | ice removal. We can chip-seal, stripe and power wash. -->
    </div>
  </div>

  <div class="col-sm-3">
    <div class="sweepSchProgressText center-text">
      <h2 class="black-font">Contact info</h2>
      <div class="sweepSchUnderline"></div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-earphone col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9 black-font">Phone:</br> 303-691-0682</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1 col-sm-offset-1 glyph-envelope">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="col-sm-9">
          <h4 class="row black-font">Email: <%= mail_to "theajbs@msn.com" %></h4>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<legend></legend>
<div class=" sweepSchMainWrapper row">
  <div class="sweepSchLeftMain col-sm-5 col-sm-offset-1">
    <!-- <h5> We serve the entire Denver Metro Area </h5> -->
    <div class="sweepSchDirectionsWrapper col-sm-12">
      <h1 class="sweepSchGetStarted">Schedule a truck in 3 easy steps:</h1>
      <div class="sweepSchUnderline"></div>
      <div class="sweepSchSteps col-sm-12">
        <!--  < div class="sweepSchSpriteGreenCheck"></div> -->
        <div class="row">
          <div class="col-sm-1 glyph">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </div>
          <div class="col-sm-10">
            <div class="sweepSchProgressText">Create a FREE account</div>
            <!--  <div class="sweepSchSpritePurpArrow"></div> -->
          </div>
          <div class="col-sm-1 glyph-arrow">
            <span class="glyphicon glyphicon-arrow-right"></span>
          </div>
        </div>
      </div>
      <div class="sweepSchSteps col-sm-12">
       <!-- <div class="sweepSchSpriteGreenCheck"></div> -->
        <div class="row">
          <div class="col-sm-1 glyph-road">
            <span class="glyphicon glyphicon-road"></span>
          </div>
          <div class="col-sm-11">
            <div class="sweepSchProgressText">Schedule a truck</div>
          </div>
        </div>
      </div>
      <div class="sweepSchSteps col-sm-12">
       <!-- <div class="sweepSchSpriteGreenCheck"></div> -->
        <div class="row">
          <div class="col-sm-1 glyph-envelope">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
          <div class="col-sm-11">
            <div class="sweepSchProgressText">Recieve confirmation</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <h5>Feel free to call us anytime at <u>303-691-0682</u>,
      or you can schedule a truck now. All you have to do is create an account,
      and click
      <% if current_user %> 
        <u><%= link_to "Schedule A Truck.", new_user_reservation_path(current_user) %></u>
      <% else %>
        <u><%= link_to "Schedule A Truck.", new_user_registration_path %></u>
      <% end %>
      We confirm with you and, have a truck scheduled right away.
      You can also schedule us to come out and bid a recurring sweep or snowplow schedule. 
    </h5>-->
  </div>
  <!--******************************************START RIGHT HAND SIDE****************************************-->
  <div class="sweepSchRightMain col-sm-5">
    <div class="home-form col-sm-12">
      <!--<h4>Need a truck?</br>Sign up, and schedule one now.</h4>-->
      <%= render "devise/registrations/form"%>
    </div>
  </div>
</div>

<div class="row">

  <!--<div class="col-sm-6">
     <div class="row" >
      <%= image_tag "little-truck.jpg", class: "col-sm-11 home-image" %>
    </div>
    <ul class="h4"><strong><u><%= link_to "Services", about_path %></u></strong>
        <li>Parking lot and road sweeping.</li>
        <li>Snow removal</li>
        <li>Striping</li>
        <li>Power Washing</li>

    </ul>
    <ul class="h4"><strong><u>Contact Us</u></strong>
        <li>Phone: 303-691-0682</li>
        <li>Email: <%= mail_to "theajbs@msn.com" %></li>
    </ul>
  </div>-->
</div>
