<div class="row head-container">
    <%= image_tag "parking-stripe-header2.jpg", class: "headbar-image-right" %>
  <div class="sweepSchProgressText">
    <div class="row head-text">
      <div class="glyphicon glyphicon-time col-sm-1"></div><h3 class="col-sm-10">Save time with our online scheduling app.</h3>
    </div>
    <div class="row head-text">
      <div class="glyphicon glyphicon-edit col-sm-1"></div><h3 class="col-sm-10">Schedule a truck at a time that is convienent for you.</h3>
    </div>
    <div class="row head-text">
      <div class="glyphicon glyphicon-list-alt col-sm-1"></div><h3 class="col-sm-10">Schedule someone to bid your lot for any of our services.</h3>
    </div>
    <div class="row head-text">
      <div class="glyphicon glyphicon-ok-circle col-sm-1"></div><h3 class="col-sm-10">We will confirm your reservation in minutes.</h3>
    </div>
  </div>
</div>

<%= render "static_pages/about_data_row" %>

<div class=" sweepSchMainWrapper row">
  <div class="sweepSchLeftMain col-sm-5 col-sm-offset-1">
    <!-- <h5> We serve the entire Denver Metro Area </h5> -->
    <div class="sweepSchDirectionsWrapper col-sm-12">
      <h1 class="sweepSchGetStarted">Schedule a truck in 3 easy steps:</h1>
      <div class="sweepSchUnderline"></div>
      <div class="sweepSchSteps col-sm-12">
        <!--  < div class="sweepSchSpriteGreenCheck"></div> -->
        <div class="row">
          <div class="col-sm-1 glyph">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </div>
          <div class="col-sm-10">
            <div class="sweepSchProgressText">Create a FREE account</div>
            <!--  <div class="sweepSchSpritePurpArrow"></div> -->
          </div>
          <div class="col-sm-1 glyph-arrow">
            <span class="glyphicon glyphicon-arrow-right"></span>
          </div>
        </div>
      </div>
      <div class="sweepSchSteps col-sm-12">
       <!-- <div class="sweepSchSpriteGreenCheck"></div> -->
        <div class="row">
          <div class="col-sm-1 glyph-road">
            <span class="glyphicon glyphicon-road"></span>
          </div>
          <div class="col-sm-11">
            <div class="sweepSchProgressText">Schedule a truck</div>
          </div>
        </div>
      </div>
      <div class="sweepSchSteps col-sm-12">
       <!-- <div class="sweepSchSpriteGreenCheck"></div> -->
        <div class="row">
          <div class="col-sm-1 glyph-cell">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
          <div class="col-sm-11">
            <div class="sweepSchProgressText">Recieve confirmation</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <h5>Feel free to call us anytime at <u>303-691-0682</u>,
      or you can schedule a truck now. All you have to do is create an account,
      and click
      <% if current_user %> 
        <u><%= link_to "Schedule A Truck.", new_user_reservation_path(current_user) %></u>
      <% else %>
        <u><%= link_to "Schedule A Truck.", new_user_registration_path %></u>
      <% end %>
      We confirm with you and, have a truck scheduled right away.
      You can also schedule us to come out and bid a recurring sweep or snowplow schedule. 
    </h5>-->
  </div>
  <!--******************************************START RIGHT HAND SIDE****************************************-->
  <div class="sweepSchRightMain col-sm-5">
    <div class="home-form col-sm-12">
      <!--<h4>Need a truck?</br>Sign up, and schedule one now.</h4>-->
      <%= render "devise/registrations/form"%>
    </div>
  </div>
</div>

<div class="row">

  <!--<div class="col-sm-6">
     <div class="row" >
      <%= image_tag "little-truck.jpg", class: "col-sm-11 home-image" %>
    </div>
    <ul class="h4"><strong><u><%= link_to "Services", about_path %></u></strong>
        <li>Parking lot and road sweeping.</li>
        <li>Snow removal</li>
        <li>Striping</li>
        <li>Power Washing</li>

    </ul>
    <ul class="h4"><strong><u>Contact Us</u></strong>
        <li>Phone: 303-691-0682</li>
        <li>Email: <%= mail_to "theajbs@msn.com" %></li>
    </ul>
  </div>-->
</div>
