<div class="blue-bar">
  <div class="row">
    <h2 class="font-center"> Sweep A Lot </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4><u> Here at Sweep A Lot we want to make scheduling easy.</u></h4>
    <h5>Feel free to call us anytime at <u>303-691-0682</u>,
      or you can schedule a truck now. All you have to do is create an account,
      and click
      <% if current_user %> 
        <u><%= link_to "Schedule A Truck", new_user_reservation_path(current_user) %></u>
      <% else %>
        <u><%= link_to "Schedule A Truck", new_user_registration_path %></u>
      <% end %>
      We confirm with you and, have a truck scheduled right away.
      You can also schedule us to come out and bid a recurring sweep or snowplow schedule. 
    </h5>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h5> We serve the entire Denver Metro Area </h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="home-form">
      <h4>Need a truck?</br>Sign up, and schedule one now.</h4>
      <%= render "devise/registrations/form"%>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <%= image_tag "little-truck.jpg", class: "col-sm-11 home-image" %>
    </div>
    <ul class="h4"><strong><u><%= link_to "Services", about_path %></u></strong>
        <li>Parking lot and road sweeping.</li>
        <li>Snow removal</li>
        <li>Striping</li>
        <li>Power Washing</li>

    </ul>
    <ul class="h4"><strong><u>Contact Us</u></strong>
        <li>Phone: 303-691-0682</li>
        <li>Email: <%= mail_to "theajbs@msn.com" %></li>
    </ul>
  </div>
</div>
