<!DOCTYPE html>
<html>
<head>
  <title>Parking lot maintenance in Denver CO, including Street Sweeping and Snowplowing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %> 
  <%= csrf_meta_tags %>
  <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> //start favicon work 
  <link rel="icon" href="/favicon.ico" type="image/x-icon">-->
  <!--- SEO Meta tags -->
  <meta name=”description” content=”Sweep-A-Lot Is a street sweeping, snowplowing, all around parking lot maintenance company. We serve the entire Denver Metro Area. 
  As well as Boulder and Ft Collins. Our website provides a way to schedule a truck online. Just sign up, and you are on your way.
  When it comes to roadway and parking lot maintenance, Sweep-A-Lot can provide the services you need.
  We also offer: lot sanding | ice removal. We can chip-seal, stripe and power wash.”/>
  <!-- END SEO -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59137809-2', 'auto');
  ga('send', 'pageview');

</script>
</head>
  <body>
    <% if !current_user %>
      <% @hide_sidebar = true %>
    <% end %>
          <!-- <div>
            <%#= image_tag "header_image.jpg", class: "stripes-banner" %>
          </div> -->
    <div class="container-fluid">
      <div class="row">
        <div id="main-container">
          <!-- Navbar begin -->
          <%= render "layouts/navbar" %>
          <!-- Navbar end -->

          <% flash.each do |name, message| %>
            <div id="flash_<%= name %>">
              <%= message %>
            </div>
          <% end if !flash.blank? %>

          <% if !@hide_sidebar %>
            <div class="row">

            <div class="col-sm-9">
              <div id="main-content">
                <%= yield %>
              </div>
            </div>

              <div class="col-sm-3">
                <div class="side-container">
                  <div class="side">
                    <%= render partial: "layouts/sidebar" %>
                    <%= yield :sidebar %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-sm-12">
                <div id="main-content">
                  <%= yield %>
                </div>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </body>
</html>
