<!DOCTYPE html>
<html>
<head>
  <title>SweepSchedule</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %> 
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="row">
      <div class="col-lg-12">
        <div id="main-container">

          <% flash.each do |name, message| %>
            <div id="flash_<%= name %>">
              <%= message %>
            </div>
          <% end if !flash.blank? %>

          <!-- Navbar begin -->
          <%= render "layouts/navbar" %>
          <!-- Navbar end -->

          <% if !@hide_sidebar %>
            <div class="row">

            <div class="col-sm-9">
              <div id="main-content">
                <%= yield %>
              </div>
            </div>

              <div class="col-sm-3">
                <div class="side-container">
                  <div class="side">
                    <%= render partial: "layouts/sidebar" %>
                    <%= yield :sidebar %>
                  </div>
                </div>
              </div>

            </div>
          <% else %>
            <div class="row">
              <div class="col-sm-12">
                <div id="main-content">
                  <%= yield %>
                </div>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </body>
</html>
